.donut-chart {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pool-name {
  margin: 20px 20px 20px 10px;

  > div:first-child {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    opacity: 0.7;
    color: var(--title-active);
  }

  > div:last-child {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
    color: var(--title-active);

    > img {
      margin-left: 10px;
      cursor: pointer;
      width: 16px;
      height: 16px;
    }
  }
}

.pool-type {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 6px;
  color: var(--color-white);
  border-radius: 10px;
  height: fit-content;
  margin-top: 25px;
  background: var(--color-primary-darker);
}

.pool-info {
  padding: 20px 20px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;

  .pair {
    color: var(--title-active);
    opacity: 0.7;

    .value {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
    }

    .label {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
